
.centerDiv {
  background-color: lightgray;
  border-radius: 12px;
  margin-top: 20%;
  margin-bottom: 20%;
  
  margin-right: 25%;
  margin-left: 25%;
  width: 50%;
  height: 250px;
  text-align: center;
}



.button {
  border: none;
  background-color: #008CBA;  /* Blue */
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;


}
.button1:hover {
  background-color: #007CBA;  /* Blue */
  border-radius: 12px;
}
