
* {
  box-sizing: border-box;
}

.unfollow{
  margin: 0;
  display: inline-block;

}
.user_bock {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffca;

  overflow-x: hidden;
  padding-top: 20px;
}

.user_bock a {
  text-align: left;

  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
}





.graydiv {
  align: center;
  height: 500px;

  margin-right: 180px;
  margin-left: 180px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 15px;

}

.card {

  align: center;
  margin-top: 15px;
  margin-bottom: 1px;

  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 6px 8px 6px 16px;

}
body {
  font-family: "Lato", sans-serif;
}
.myAlbums {

  background-color: #ABEBC6;

  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.settings {
  background-color: #f4f4f4;

  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.me {
  background-color: #99d6e6;
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  height: 100%;

}
.following {
  background-color: #C39BD3;
  font-size: 28px;
  height: 100%;


  padding: 0px 10px;

}
.explore{
  background-color: #7FB3D5;
  font-size: 28px;
  padding: 0px 10px;

}
.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #ffffca;
}
#content > div {display:none;}







/* search bar */

.form {
  background-color: #F2f2f2;
  width: 300px;
  height: 44px;
  /* border-radius: 12px; */
  display: flex;
  flex-direction: row;
  align-items: center;

}
.button {
        all: unset;

        background-color: #ffffca;
        /* border-radius: 12px; */
        border-color: black
        cursor: pointer;
        width: 90px;
        height: 44px;
        font-size: 12px;
        text-align: center;

      }
.input {
  all: unset;
  background-color: #F2f2f2;

  font: 16px system-ui;
  color: black;
  height: 100%;
  width: 100%;
  padding: 6px 10px;

}

.input2 {
  all: unset;
  background-color: #F2f2f2;

  font: 16px system-ui;
  color: black;
  height: 100%;
  width: 250px;
  padding: 6px 10px;

}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
