<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>signup</title>

<!-- style sheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/signup.css') }}" />

</head>

<body>
  <!-- logo that brings you home  -->
  <a href="/">
    <h1 style="text-align: center">spotify</h1>
  </a>


  <h2 style="text-align: center ; margin-top: 10%;">login</h2>

  <!-- log in form  goes through main.py/authenticate() -->

  <div class="graydiv">
    <form action="/login" method="POST">

      <label style="font-size:14px" for="username">Username</label>
      <p><input type="text" id="username" name="userName" placeholder="Your username.."></p>

      <label style="font-size:14px" for="password">Password</label>
      <p><input type="password" id="password" name="password" placeholder="Your password.."></p>

      <p><input type="submit" value="login"></p>

    </form>
    <!-- if error in user in  will display error msg -->
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <label style="font-size:12px" for="username">dont have an account? <a href=signup>sign up</a></label>

  </div>


</body>

</html>
